
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CATIGA</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400" rel="stylesheet" type="text/css">

    <!-- CSS Files -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/fav-144.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/fav-114.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/fav-72.html">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/fav-57.html">
    <link rel="shortcut icon" href="~/Content/images/fav.html">

</head>
<body>
    <!-- Header Section Starts -->

    <!-- Header Section Ends -->
    <!-- Main Container Starts -->
    <div id="main-container" class="container">
        <div class="row">

            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                <h3 class="side-heading">Kategoriler</h3>
                <div class="list-group categories">
                    <a href="/CategoryList/Index" class="list-group-item">
                        Hepsi
                    </a>
                    <a href="/MasaTipi/Index" class="list-group-item">
                        Masa Tipleri
                    </a>
                    <a href="/Bilimsel/Index" class="list-group-item">
                        Bilimsel Tipler
                    </a>
                    <a href="/CepTipi/Index" class="list-group-item">
                        Cep Tipleri
                    </a>
                </div>
                <!-- Categories Links Ends -->
            
               
            </div>
            <!-- Sidebar Ends -->
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="index-2.html">Anasayfa</a></li>
                    <li><a href="category-list.html">Kategori Adı</a></li>
                    <li class="active">Ürün Adı</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- Product Info Starts -->
                <div class="row product-info">
                    <!-- Left Starts -->
                    <div class="col-sm-5 images-block">
                        <p>
                            <img src="~/Content/images/product-images/pimg3.jpg" alt="Image" class="img-responsive thumbnail" />
                        </p>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <img src="~/Content/images/product-images/thumb1.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/images/product-images/thumb2.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/images/product-images/thumb3.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/images/product-images/thumb4.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                        </ul>
                    </div>
                    <!-- Left Ends -->
                    <!-- Right Starts -->
                    <div class="col-sm-7 product-details">
                        <!-- Product Name Starts -->
                        <h2>Marka Ve Model</h2>
                        <!-- Product Name Ends -->
                        <hr />
                        <!-- Manufacturer Starts -->
                        <ul class="list-unstyled manufacturer">
                            <li>
                                <span>Marka:</span> Catiga
                            </li>
                           
                            <li>
                                <span>Durum:</span> <strong class="label label-success">Stokta Var</strong>
                            </li>
                        </ul>
                        <!-- Manufacturer Ends -->
                        <hr />
                        <!-- Price Starts -->
                       
                        <!-- Price Ends -->
              
                        <!-- Available Options Starts -->
                       
                        <!-- Available Options Ends -->
                   
                    </div>
                    <!-- Right Ends -->
                </div>
                <!-- product Info Ends -->
                <!-- Product Description Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Detaylar</h4>
                    <div class="content panel-smart">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <!-- Product Description Ends -->
               
                <!-- Related Products Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Öne Çıkanlar</h4>
                    <!-- Products Row Starts -->
                    <div class="row">
                        <!-- Product #1 Starts -->
                        <div class="col-md-4 col-sm-6">
                            <div class="product-col">
                                <div class="image">
                                    <img src="~/Content/images/product-images/2.jpg" alt="product" class="img-responsive" />
                                </div>
                                <div class="caption">
                                    <h4><a href="product.html">Digital Electro Goods</a></h4>
                                    <div class="description">
                                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                                    </div>
                                   
                                  
                                </div>
                            </div>
                        </div>
                        <!-- Product #1 Ends -->
                        <!-- Product #2 Starts -->
                        <div class="col-md-4 col-sm-6">
                            <div class="product-col">
                                <div class="image">
                                    <img src="~/Content/images/product-images/2.jpg" alt="product" class="img-responsive" />
                                </div>
                                <div class="caption">
                                    <h4><a href="product.html">Digital Electro Goods</a></h4>
                                    <div class="description">
                                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- Product #2 Ends -->
                        <!-- Product #3 Starts -->
                        <div class="col-md-4 col-sm-6">
                            <div class="product-col">
                                <div class="image">
                                    <img src="~/Content/images/product-images/2.jpg" alt="product" class="img-responsive" />
                                </div>
                                <div class="caption">
                                    <h4><a href="product.html">Digital Electro Goods</a></h4>
                                    <div class="description">
                                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- Product #3 Ends -->
                    </div>
                    <!-- Products Row Ends -->
                </div>
                <!-- Related Products Ends -->
            </div>
            <!-- Primary Content Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->
    <!-- JavaScript Files -->
</body>

<!-- Mirrored from sainathchillapuram.com/BS/ss/electro-shoppe/product.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Feb 2016 14:13:28 GMT -->
</html>